[submodule "niri"]
	path = niri
	url = https://github.com/YaLTeR/niri
[submodule "xwayland-satellite"]
	path = xwayland-satellite
	url = https://github.com/Supreeeme/xwayland-satellite
[submodule "anyrun"]
	path = anyrun
	url = https://github.com/anyrun-org/anyrun
[submodule "awww"]
	path = awww
	url = https://codeberg.org/LGFae/awww
